html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #D0D5D9;
    background-color: #1C2026;

    width: 100%;
}

body{
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
    text-decoration-line: underline;
    text-decoration-color: #D9753B;
}

em{
    text-decoration-line: underline;
    text-decoration-color: #73AABF;
}

a{
    color: #D0D5D9;
    text-decoration: underline;
    text-decoration-color: #F2A488;
    padding: 0.01rem;
}

a:hover{
    background-color: #F2A488;
    text-decoration: none;
    transition: 0.6s;

}

footer{
    text-align: center;
    margin: 5%;
}

#intro{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    margin: 1rem;
}

#headshot{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 15rem;
    margin: auto;
    
}

#intro_txt_box{
    padding: 0.5rem;
}
#footer>h2{
    font-size: 1rem;
}

#projects{
    display: grid;
    grid-template: 1fr 1fr 1fr;
}

#projects>a{
    text-decoration-line: none;
}

#projects>a:hover{
    background-color: #73AABF80;
}

#footer> ul{
    list-style: none;
}




/*
.Snow-Fire-Muted-1-hex { color: #1C2026; }
.Snow-Fire-Muted-2-hex { color: #D0D5D9; }
.Snow-Fire-Muted-3-hex { color: #73AABF; }
.Snow-Fire-Muted-4-hex { color: #D9753B; }
.Snow-Fire-Muted-5-hex { color: #F2A488; }
:/